<html>
<head><title>Home Page</title></head>
<body>
<div align="center">
    <h1>Hello! Welcome to Slack Integration!</h1><br/>
    To allow this app to send a message, click below button.<br/><br/>
    <a href="https://slack.com/oauth/v2/authorize?scope=incoming-webhook&client_id=2188083247041.2199281664432"><img alt=""Add to Slack"" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a><br/><br/>

</div>
</body>
</html>